<%- include('./partials/header.ejs')%>
    <%- include('./partials/navbar.ejs')%>



        <div class="container">
            <div class="row mt-5">
                <h1>Home page</h1>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum facere reprehenderit ad in rem
                    impedit consectetur quas possimus dolore. Sed exercitationem sit quidem eius ea soluta quisquam
                    voluptas, doloremque alias?</p>
            </div>


        </div>
        <%- include('./partials/footer.ejs')%>